* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "rawline", helvetica, arial, sans-serif;
}

body {
  background-color: var(--color-primary-pastel-01);
  color: var(--color-primary-darken-02);
  min-height: 100vh;
  padding: 0;
  position: relative;
  /* display: block;*/
}

header {
  width: 100%;
  background-color: #134074;
  color: white;
  background: linear-gradient(0deg, #0c4094 0%, #2670e8 70%, #5992ed 100%);

}

.header-top {
  color: #EEF4ED;
  padding: 1rem 2rem;
  width: 100%;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);    background-image: url("../files/header-detail.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto 60px; ajuste conforme o tamanho da imagem */
}

.container-header-top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.logo-pf img {
  width: 70px;
  height: auto;
  margin-right: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-pf img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.397));
}

.name-org {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #EEF4ED;
}

.name-org h1 {
  font-size: 2.1rem;
  margin: 0;
  font-weight: 700;
}

.name-org h5 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
}

.topbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.384);
  justify-content: space-between;
  padding: 4px 1rem;
}

.left-topbar {
  text-decoration: none;
  display: flex;
}

.left-topbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-topbar ul {
  list-style: none;
}

.right-topbar a {
  text-decoration: none !important;
  height: 24px;
  width: 24px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 10px;
}

.right-topbar img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.right-topbar img:hover {
  /* filter: brightness(1.3); */
  transform: scale(1.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.322));
}

.contrast img {
  width: 18px;
  height: auto;
  cursor: pointer;
  filter: invert(1) brightness(1) drop-shadow(0 0 1px #a3a3a3);
}

.container-nav a {
  padding: 0 1rem;
}

.nav-sites {
  font-size: 0.7rem;
  text-transform: uppercase;
  width: 100%;
}

.nav-sites ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-sites li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 3px;
  padding: 3px 10px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.nav-sites li a:hover {
  background-color: #e0e7f946;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  margin: 0 8px;
}

.header-bottom {
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425);
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
  gap: 1.5rem;
}

.bottom-nav li {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.bottom-nav a {
  text-decoration: none;
  color: #13315C;
  font-weight: 500;
  padding: 6px 2px;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.bottom-nav a:hover {
  background-color: #cfdaf7;
  color: #13315C;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  padding: 5px 10px;
  align-items: center;
}

main {
  padding: 2rem;
  margin-top: 1rem;
}