* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-pastel-01);
    color: var(--color-primary-darken-02);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
  }

.name-org {
    font-family: "rawline",helvetica,arial,sans-serif;
}

.left-topbar {
    text-decoration: none;
    display: flex;
    font-size: 11px;
    flex-direction: column;

}
