* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-pastel-01);
    color: var(--color-primary-darken-02);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
  }

header {
    width: 100%;
    background-color: var(--color-primary-lighten-01);
    color: white;
    align-items: center;
}

.header-top {
    background-color: #134074;
    color: #EEF4ED;
    padding: 1rem 2rem;
    width: 100%;
  }
  
  .container-header-top {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .logo-pf img {
    width: 80px;
    height: auto;
  }
  
  .name-org {
    font-family: "rawline",helvetica,arial,sans-serif;
}

  .name-org h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
  }
  
  .name-org h5 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;


.left-topbar {
    text-decoration: none;
    display: flex;
    font-size: 14px;
}

.nav-sites {
    flex-direction: column;
    display: flex;
}

main {
    padding: 2rem;
    margin-top: 1rem;
  }