:root{
    --color-primary-pastel-01: #c5d4eb;
    --color-primary-pastel-02: #dbe8fb;
    --color-primary-lighten-01: #2670e8;
    --color-primary-lighten-02: #5992ed;
    --color-primary-default: #1351b4;
    --color-primary-darken-01: #0c326f;
    --color-primary-darken-02: #071d41;
}

